$themeColor: #5c81d1;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.app {
  display: flex;
  justify-content: center;
  font-family: "Quicksand";

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;

      .header {
        font-size: 50px;
      }


      h1 {
        font-size: 20px;
        color: $themeColor;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: $themeColor;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;

          .direct {
            text-decoration: none;
            color: $themeColor;
            font-weight: bold;
            font-style: italic;
          }
        }
      }
    }

    //NAVBAR

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: #333 solid 2px;
        .logo {
          display: flex;
          align-items: center;

          h3 {
            font-size: 15px;
          }
          img {
            width: 100px;
            margin-left: 80px;
          }
        }
        .links {
          display: flex;
          text-align: center;
          gap: 25px;

          h6, span {
            font-size: 22px;
            font-weight: 300;
            width: 100px;
            margin: 0px;
            padding: 0px;
          }

          span {
            margin: 0;
          }

          .logout {
            cursor: pointer;
            color: rgb(242, 144, 134);
          }

          .username {
            color: $themeColor;
          }

          .link {
            height: 50px;
            font-weight: 300;

            &:hover {
              color: rgb(61, 136, 255);
              background-color: rgba(255, 255, 255, 0.846);
            }


          }
        }
      }
    }

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $themeColor;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      img {
        height: 50px;
      }
    }

    //HOME

    .home {
      .head {
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 48px;
        }

        .filter {
          margin-top: 30px;
          padding: 15px;
          justify-content: center;
          align-items: center;
          border: 1px solid $themeColor;
          border-radius: 15px;

          h3 {
            margin-top: 0px;
          }
          .categorize {
            margin-top: 20px;
          }
        }
      }

      .clothes {
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        
        .clothing {
          display: flex;
          gap: 100px;
          justify-content: space-around;
          align-items: center;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative; 

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $themeColor;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
              border: 2px solid rgb(168, 212, 251);
            }
          }
          
          .content {
            flex: 3;
            display: flex;
            flex-direction: column;

            h1 {
              font-size: 32px;
            }

            p {
              font-size: 18px;
            }

            .buttons {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100px;

              * {
                padding: 0;
                height: 40px; 
              }
            }
            }
          }
        }
      }

    //ADD
    .add {
      margin: 0 auto;
      text-align: center;
      
      h2 {
        font-size: 48px;
        margin-bottom: 30px;
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 80px;

        .inputs {
          display: block;
          label {
            text-align: left;
            display: block;
          }


          input, textarea, select {
            width: 100%;
            padding: 6px 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            box-sizing: border-box;
            display: block;
          }

        }
      }

      button {
        background: $themeColor;
        color: #fff;
        font-size: 20px;
        border: 0;
        padding: 15px;
        margin-top: 40px;
        border-radius: 8px;
        cursor: pointer;
      }

      .thumbnail {
        max-width: 300px;
      }
    }

    // SETS
    .sets {
      display: block;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-size: 48px;
        }

        .addButton {
          text-align: center;
          align-items: center;
          justify-content: center;
          padding: 0px 40px;
          margin: 30px;
          text-decoration: none;
          font-weight: bold;
          border: 2px $themeColor solid;
          border-radius: 15px;
          color: black;
          background-color: #bbcef9;

          &:hover {
            background-color: #e2e9f9;
          }
        }

      }

      .set {
        text-align: center;
        align-items: center;
        margin-top: 30px;
        border: 2px solid $themeColor;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #bbcef9;
          padding: 5px  20px;
          h1 {
            font-size: 36px;
            margin: 0px;
            padding: 10px;
          }
        }

        .singleDisplay{
          display: grid;
          grid-template-rows: repeat(3, auto);
          grid-template-columns: repeat(2, auto);
          gap: 10px;
          padding: 15px;

          img {
            width: 200px;
          }
  
          .segment {
            display: flex;
            width: 500px;
            justify-content: space-evenly;
            align-items: center;
          }
        }
      }
    }

    .addSet {
      margin: 0px;
      text-align: center;
      h1 {
        font-size: 48px;
      }

      .segment {
        display: flex;
        justify-content: center;
        align-items: center;

        .input {
          display: flex;
          margin: 20px;
          font-size: 30px;

          input {
            width: 200px;
          }

          * {
            margin: 15px;
          }
          
          select {
            width: 200px;
            height: 40px;
          }
        }

        img {
          margin: 10px;
          padding: 0px;
          max-width: 200px;
        }
      }

      button {
        width: 150px;
        background: $themeColor;
        color: #fff;
        font-size: 20px;
        border: 0;
        padding: 15px;
        margin-top: 40px;
        border-radius: 8px;
        cursor: pointer;
      }

      .notReady {
        background-color: rgb(242, 144, 134);
      }
    }
  }
}